<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <dict>
                <key>Label</key>
                <string>me.wificity.login</string>
                <key>LowPriorityIO</key>
                <true />
                <key>ProgramArguments</key>
                <array>
                        <string>SOMEWHERE_SAFE/login_wificity.sh</string>
                </array>
                <key>RunAtLoad</key>
                <true />
                <key>WatchPaths</key>
                <array>
                        <string>/Library/Preferences/SystemConfiguration/com.apple.wifi.message-tracer.plist</string>
                        <string>/var/run/resolv.conf</string>
                </array>
        </dict>
</plist>
